/* Importing fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* Declaring variables */
:root {
  /* Colors */
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);

  /* Fonts */
  --heading: 'Big Shoulders Display', sans-serif;
  --paragraph: 'Lexend Deca', sans-serif;
}

/* Style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--white);
}

main {
  margin: 70px auto;
  width: 340px;
  border-radius: 10px;
  overflow: hidden;
}

/* Estilizando o texto */
h1 {
  font-family: var(--heading);
  font-size: 45px;
  margin-bottom: 35px;
}

p {
  font-family: var(--paragraph);
  font-size: 15px;
}

button {
  margin-top: 35px;
  font-family: var(--paragraph);
  padding: 15px 35px;
  background-color: white;
  border: none;
  border-radius: 30px;
}

#sedanButton {
  color: var(--brightOrange);
}

#suvButton {
  color: var(--darkCyan);
}

#luxuryButton {
  color: var(--veryDarkCyan);
}

/* Arranjando a forma do section */
section {
  margin: auto;
/*  width: 340px; */
  color: white;
  padding: 50px;
}

.icon {
  margin-bottom: 35px;
}

#sedan {
  background-color: var(--brightOrange);
}

#suv {
  background-color: var(--darkCyan);
}

#luxury {
  background-color: var(--veryDarkCyan);
}

